html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MAIN CODE */

@font-face {
    font-family: 'Norse-Text';
    src: url(./Norse-Bold.otf);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
}

.italic {
    font-style: italic;
}

.hero-image {
    flex: 1 0 350px;
    background-image: url(./images/singupBackground.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    display: flex;


    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);

    margin-top: 40%;
    padding: 10px;
}

.hero-text img {
    height: 100%;
    padding-left: 25%;
}

.hero-text h1 {
    color: white;
    font-size: 8rem;
    line-height: 10rem;
    text-align: center;
    font-family: 'Norse-Text', Arial, Helvetica, sans-serif;
}

.hero-image p,
.hero-image a {
    color: white;
}

.main-form {
    flex: 3 1;
    background-color: #fbfbfb;
}

.main-form-head,
.main-form fieldset,
.main-form p {
    padding-left: 30px;
}

.main-form-head {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 100px 0px 40px 0px;
}

.main-form-head h2:last-child {
    padding-top: 30px;
}

.main-form fieldset {
    background-color: white;
    width: 100%;
    height: 300px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    transition: all 250ms;
    transition-timing-function: ease-in-out;

}

.main-form fieldset:focus-within {
    box-shadow: 10px 5px 10px rgb(107, 107, 107);
}

.main-form fieldset legend {
    font-size: 1.25rem;
    font-weight: bold;
    
    position: relative;
    top: 30px;
}

.main-form fieldset ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}


.main-form fieldset ul li {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    

}

.main-form input[type='text'],
.main-form input[type='email'],
.main-form input[type='tel'],
.main-form input[type='password'] {
    height: 25px;
    border: 1px solid rgba(160, 160, 160, 0.685);
    border-radius: 5px;
    outline: none;

}

.main-form label {
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(65, 64, 64);
    letter-spacing: 1px;
    margin-bottom: 5px;

}

.main-form input + .error {
    color: red;
    padding-top: 4px;
    font-size: 0.75rem;
}

.main-form input:focus {
    border: 2px solid blue;
    box-shadow: 2px 2px 3px rgb(107, 107, 107);
}

.main-form input:invalid {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.main-form input:invalid:focus {
    border: 2px solid red;
}

.main-form form button {
    margin: 40px 0px 40px 30px;

    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #4c6b38;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
}

.main-form a {
    text-decoration: none;
    font-weight: bold;
    color: #4c6b38;
}