html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MAIN CODE */

@font-face {
    font-family: 'Norse-Text';
    src: url(./Norse-Bold.otf);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    flex: 1 0 350px;
    background-image: url(./images/singupBackground.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    display: flex;


    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);

    margin-top: 40%;
    padding: 10px;
}

.hero-text img {
    height: 100%;
    padding-left: 25%;
}

.hero-text h1 {
    color: white;
    font-size: 8rem;
    line-height: 10rem;
    text-align: center;
    font-family: 'Norse-Text', Arial, Helvetica, sans-serif;
}

.hero-image p,
.hero-image a {
    color: white;
}

.main-form {
    flex: 3 1;
    background-color: #fbfbfb;
    padding-left: 30px;
}

.main-form-head {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 100px 0px 40px 0px;
}

.main-form-head h2:last-child {
    padding-top: 30px;
}

.main-form fieldset {
    background-color: white;
    box-shadow: 10px 5px 10px rgb(107, 107, 107);
}
